registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/npm-central-repo/
@cloudsop:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm
strict-ssl=false
public-hoist-pattern[]=rc-select
public-hoist-pattern[]=rc-tree
public-hoist-pattern[]=rc-tabs
public-hoist-pattern[]=rc-table
public-hoist-pattern[]=@ant-design/icons
public-hoist-pattern[]=mobx-react-lite
public-hoist-pattern[]=classnames
public-hoist-pattern[]=csstype
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*eslint*