/.vscode/
/.idea/
/.vs/
/vs/
/venv/
/build/build/
/build/logs/
/output/
/report/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-default/
/protos/
/tmp/
/emsdk/
/src/protos/*.pb.cc
/src/protos/*.pb.h
cmake-build-*
third_party/*