./node_modules
./packages/extension/node_modules
./packages/frontend/node_modules
.vscode-test/
*.vsix
dist
media
package-lock.json
twowayPreview
log.txt
**/node_modules
**/dist
**/build
./packages/extension/profiler
**/.vscode
**/.idea
**/*.vsix
**/*.exe
**/*.db
**/profiler
serverBuild
**/coverage
llt_cov
junit
out
product

/opensource/
/modules/framework/public/plugins
/modules/lib/src/**/*.js
/modules/lib/src/**/*.d.ts