strict-ssl=false
audit=false
registry=https://cmc.centralrepo.rnd.huawei.com/npm/ 
disturl=http://mirrors.tools.huawei.com/nodejs
electron_mirror=http://mirrors.tools.huawei.com/electron/
electron-builder-binaries_mirror=https://mirrors.tools.huawei.com/electron-builder-binaries/
sass_binary_site=http://mirrors.tools.huawei.com/node-sass
phantomjs_cdnurl=http://mirrors.tools.huawei.com/phantomjs
chromedriver_cdnurl=http://mirrors.tools.huawei.com/chromedriver
operadriver_cdnurl=http://mirrors.tools.huawei.com/operadriver
python_mirror=http://mirrors.tools.huawei.com/python
no-proxy=.huawei.com
node_sqlite3_binary_host_mirror=https://cmc.centralrepo.rnd.huawei.com/npm
registry=https://cmc.centralrepo.rnd.huawei.com/npm