.rank_icon{
    width: 55px;
    height: 55px;
    background:center no-repeat url('./assets/images/round_light.svg');
}
.theme_dark .rank_icon{
    background:center no-repeat url('./assets/images/round_dark.svg');
}
.activeRank .rank_icon{
    background:center no-repeat url('./assets/images/round_light_active.svg');
}
.theme_dark .activeRank .rank_icon{
    background:center no-repeat url('./assets/images/round_dark_active.svg');
}

.rank {
    background:center/cover url('./assets/images/rank_light.png');
}
.theme_dark .rank{
    background:center/cover url('./assets/images/rank_dark.png');
}

.rankData {
    font-size: 16px;
}
.rankData .rankId {
    text-align: center;
    margin-bottom: 10px;
}
.rankData .rankDataItem {
    display: flex;
}
.rankData .rankDataItem .title {
    width: 270px;
}
.rankData .rankDataItem .value {
    flex: 1;
    text-align: end;
    white-space: nowrap;
}