#pragma code_page(65001)
1 VERSIONINFO
FILEVERSION 8, 1, 0, 1
PRODUCTVERSION 8, 1, 0, 1
FILEOS 0x40004
FILETYPE 0x1
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILESUBTYPE 0x0
{
BLOCK "StringFileInfo"
{
BLOCK "000004b0"
{
VALUE "FileVersion", "8.1.0.1"
VALUE "ProductVersion", "8.1.RC1"
VALUE "FileDescription", "MindStudio Insight"
VALUE "LegalCopyright", "Copyright (c) Huawei Technologies Co., Ltd. 2023-2025. All rights reserved."
VALUE "ProductName", "MindStudio Insight"
}
}
BLOCK "VarFileInfo" {
VALUE "Translation", 0x0, 0x04b0
}
}
main_icon ICON "../resources/images/icons/mindstudio.ico"

