@import './base.css';
@import './element-ui.css';

#app {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-weight: normal;
}


.mi-icon {
    --color: inherit;
    height: 1em;
    width: 1em;
    line-height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--color);
    font-size: inherit
}